<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="icon"
      href="https://chinsun9.github.io/img/favicon20200926.ico?"
    />
  </head>
  <body>
    <h1>내 아이피 주소(IP Address): <%= ip %></h1>
  </body>
</html>
