html {
  min-width: 420px;
}

.opend {
  color: green;
}

.closed {
  color: #ff6e6e;
}

.result {
  margin: 20px;
}

ul {
  padding: 5px;
}

li {
  list-style-type: none;
}

form input:nth-child(1) {
  min-width: 200px;
}

form input:nth-child(2) {
  max-width: 100px;
  min-width: 100px;
}

/* bootstrap css override */

.container {
  padding: 10px;
}

.form-control {
  display: inline-block;
  width: auto;
}
